/*Variables*/

$fondo-pagina: #B8F9DB;
$fondo: #1B00C1;
$alto: 160px;
$ancho: 110px;
$sombras: 5px 5px 5px #000000;
$gradiente: linear-gradient(to left, #5DFFA2, black);
$tamaño: 180px;
$fuente: 'Otomanopee One', sans-serif;
$fondo-barra: black;
$verde: #5DFFA2;
$borde-estilo: solid;
$borde-color: black;
$color: black;
$pantalla: grid;
$columnas: 230px 230px 230px 230px 230px;
$margen: 10px;
$color2: white;
$radio: 50px;
$contenido: center;
$pantalla2: flex;
$sombras2: 4px 4px 4px black;
$automatico: auto;
$color3: red;